/* app css stylesheet */

body {
    margin-top: 0px !important;
}

.uber-thumbnail{
    width: 160px;
    height: 50px;
    overflow: auto;
}

.map {
    height: 250px;
    width: 300px;
}

.no-margin-top{
    margin-top: 0px;
}

.no-margin-bottom{
    margin-bottom: 0px;
}